// Specific CSS for your home-page
//body {
  //background-image: url('https://images.unsplash.com/photo-1549483532-d1945e6c48af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80');
  //width: auto;
//}

.logo img {
  margin-left: 40%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.text-div h1 {
  color: black;
}

/* Media queries */

@media(max-width: 1023px) {
  .logo img {
    margin-left: 35%;
  }
}

@media(max-width: 767px) {
  .logo img {
    margin-left: 25%;
    margin-top:20%;
  }
}

@media(max-width: 424px) {
  .logo img {
    margin-left: 20%;
    margin-top:15%;
  }
}

@media(max-width: 375px) {
  .logo img {
    margin-left: 20%;
    margin-top:5%;
  }
}

