body {
  background-color: white;
  height: 100vh;
  margin:auto;
}

h1 {
  font-family: Roboto;
  color: #184D47;
}

p {
  font-family: Roboto;
}

li {
  color: #184D47;
  font-size: 110%;
}

.range-number {
  font-size: 110%;
}
