// <!-- _item_index.scss -->

.sugerencias {
  border-bottom: 1px;
  border-color: #184D47;
}

.sugerencias h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #184D47;
  // text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.message-2 h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #184D47;
  // text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2px 0 2px 0;
}
