body {
  background-color: white;
  height: 100vh;
  margin:auto;
}

h1 {
  font-family: Roboto;
  color: #184D47;
}

p {
  font-family: Roboto;
}

li {
  color: #184D47;
  font-size: 110%;
}

.range-number {
  font-size: 150%;
}

.range {
  margin-top: 5%;
  -webkit-appearance:none;
  border-radius:15px;
  background: #71CC34;
  //box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-webkit-slider-thumb {
  -webkit-appearance:none;
  width: 15px;
  height: 15px;
  border-radius:50%;
  background: #184D47;
  cursor: pointer;
  border: 4px solid #184D47;
}
