<!-- _footer-button-add-consume.html.erb -->
<div class="filler-space-consumption"></div>
<div class="add-consumption fixed-bottom">
  <%= link_to new_item_path, class: "hvr-grow-s d-flex justify-content-center" do%>
    <div class="btn-add-consumption d-flex align-items-center" style="color: white; background: #184D47">
      <i class="fas fa-plus-circle" style="font-size: 24px"></i>
      <h2 style="font-size: 18px">Cargar consumo</h2>
    </div>
  <% end %>
</div>
