<div class="container mt-5" style="background-color:white">
  <h2 class="cart-modal-header">Tu orden confirmada</h2>

    <% @order.order_items.each do |order_item| %>
      <div class="row">
        <div class="col-8 cart-modal-item">
          <h3><%= order_item.item.name %></h3>
        </div>
        <div class="col-4 cart-modal-price">
          <h3>$<%= order_item.item.price %></h3>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-8 cart-modal-item">
        <h3>Precio total:</h3>
      </div>
      <div class="col-4 cart-modal-price">
        <h3>$<%= @order.total_price %></h3>
      </div>
    </div>
</div>

