<div class="container categories">
    <% 8.times do  %>
      <%= image_tag "https://source.unsplash.com/50x50/?food", alt: "CategoryX", class: "category" %>
    <% end %>
</div>
<div class="container text-center pt-2">
  <div class="h2">
    Tus sugeridos
  </div>
</div>
<div class="container item-cards">
    <% 28.times do  %>
      <div class="item-card">
          <div class=".item-card-infos">
            <h2>Alta mondiola</h2>
            <p>Con esta vale la pena romper la dieta.</p>
            <div class="d-flex align-items-center justify-content-between">
              <h2>$500</h2>
              <h2>5000Kcal</h2>
            </div>
          </div>
          <%= image_tag "https://source.unsplash.com/50x50/?meal", alt: "MealX" %>
      </div>
    <% end %>
</div>


