<p class="text-center mt-5"> 0 platos corresponden a tus objetivos</p>
<%= link_to edit_daily_target_path(@dailytarget.id) do %>
  <p class="text-center" style="color:#71CC34">Redefiní objetivos</p>
<% end %>
<span class="text-center">o</span>
<p class="text-center mt-2" style="color:#71CC34">Seguí viendo platos por categoría</p>
