<h4 class="text-center my-1"> 0 platos en ±<%="#{@dailytarget.control_limit}"%>% de tus objectivos</h4><br>
<%= link_to edit_daily_target_path(@dailytarget.id) do %>
  <h4 class="text-center" style="color:blue">Redefiní objectivos</h4>
<% end %>
