<!-- _item-modal.html.erb -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"> <!-- modal-lg -->
    <div class="modal-content">

      <div class="modal-header item-modal-header flex-column align-items-stretch"
      style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0) 100%),
      url(' <%= image_path('logo.png') %> ')">
        <div class="modal-header-top d-flex justify-content-between">

          <% if false %>
            <span><i class="fas fa-star" style="color: white!important"></i></span>
          <% else %>
            <% 5.times do %>
              <span><i class="fas fa-star"></i></span>
            <% end %>
          <% end %>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h2 class="item-model-name">Ensalada Mikonos</h2>
      </div>


      <div class="modal-body item-modal-body
        d-flex flex-column justify-content-between align-items-center">

        <div class="item-modal-info">
          <h2 class="item-modal-seller">por Autor</h2>
          <div class="item-modal-description">
            <p> <%= "Lorem ipsum loren lorem ipsum" * 6 %> </p>
          </div>
        </div>


        <table class="item-nutritonal-table">
          <tbody>
          <tr>
            <td class="col1" >Calorías:</td><td>XXX kcal</td>
          </tr>
          <tr>
            <td class="col1" >Proteinas:</td><td>XXX g</td>
          </tr>
          <tr>
            <td class="col1" >Grasas:</td><td>XXX g</td>
          </tr>
          <tr>
           <td class="col1" >Carbohidratos:</td><td>XXX g</td>
         </tr>
          </tbody>
          </tr>
        </table>

        <form class="align-self-stretch" action="POST">

          <div class="item-modal-addorder form-row justify-content-between">
            <h2>Cantidad:</h2>

            <div class="plus-minus-input d-flex align-items-center">

              <%= link_to "#", class: "plus-minus-button hvr-grow-s" do %>
                <i class="fas fa-plus-circle"></i>
              <% end %>

              <input class="form-control form-control-sm"
               type="number" value="1">

              <%= link_to "#", class: "plus-minus-button hvr-grow-s" do %>
                <i class="fas fa-minus-circle"></i>
              <% end %>

            </div>


            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>

          <div class="price d-flex justify-content-between">
            <h2>Total:</h2>
            <h2 class="price"> $XXXX (u. XXXX) </h2>
          </div>

          <div class="item-modal-addtracking form-row">
            <h2>¿Queres trakear el plato?</h2>
            <div class="form-check justify-content-between">
<!--               <label class="form-check-label" for="gridCheck">
                ¿Queres trakear el plato?
              </label> -->
              <input class="form-check-input" type="checkbox" id="gridCheck">
            </div>

          </div>

        </form>

      </div>
    </div>
  </div>
</div>
