<!-- _item-modal.html.erb -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"> <!-- modal-lg -->
    <div class="modal-content">

      <div class="modal-header item-modal-header flex-column align-items-stretch"
      style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0) 100%),
      url(' <%= image_path('logo.png') %> ')">

        <div class="modal-header-top d-flex justify-content-between">
          <% if false %>
            <span><i class="fas fa-star" style="color: white!important"></i></span>
          <% else %>
            <% 5.times do %>
              <span><i class="fas fa-star"></i></span>
            <% end %>
          <% end %>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <h2>Ensalada Mikonos</h2>

      </div>

      <div class="modal-body item-modal-body">

        <div class="modal-item-info">
          <h2>Restaurant</h2>
          <p> <%= "Lorem ipsum loren lorem ipsum" * 10 %> </p>
          <div class="modal-item-info-table">
            <h2>$ PRICE</h2>
            <h2> CALORIES </h2>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
