<div class="container mt-5" style="background-color: white; width: auto; height: 100%">
  <div class="d-flex flex-column row justify-content-center mt-4">
    <h1>Consumo de Hoy</h1>
    <%= render "form", item: @item %>
  </div>
</div>

