<!-- index.html.erb -->
<div class="container categories">
  <% @categories.sample(8).each do |category| %>
    <%= link_to "#", class: "hvr-grow" do %>
      <%= image_tag "https://source.unsplash.com/50x50/?#{category.name}", alt: "CategoryX", class: "category hvr-grow-s" %>
    <% end %>
  <% end %>
</div>
<div class="container text-center pt-3 pb-0 sugerencias bg-white">
  <h2>Tus sugeridos</h2>
</div>
<div class="container item-cards">
    <% @items.each do |item|  %>
      <%= render 'item-card', item: item %>
    <% end %>
</div>
