<div class="container mt-5" style="background-color: white; width: auto; height: 100%">
  <div class="d-flex flex-column row justify-content-center mt-4">
    <%= render "form", user_item: @user_item %>
  </div>
</div>
