.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #184D47;
  border: none;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: #556B2F;
  color: white;
}

.btn-add-sm {
  color: white;
  // padding: 8px 24px;
  // width: 100px;
  flex-grow: 4;
  height: 45px;
  border-radius: 4px;
  background: #184D47;
  transition: background 0.3s ease;
  font-size: 14px;
}

.btn-add-sm:hover {
  background: #556B2F;
  color: white;
}

.inc-dec {
  font-size: 16px;
  color: #4B4B4B;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.inc-dec a {
  color: rgba(75,75,75,0.4);
}

.inc-dec .dec {
  padding: 0px 0px 0px 15px;
}

.inc-dec .inc {
  padding: 0px 15px 0px 0px;
}

.inc-dec .input {
  border: 0;
  width: 30px;
  text-align: center;
  color: #4B4B4B;
}

.add-consumption {
  background-color: white;
  color: #184D47;
}

.add-consumption a {
  color: #184D47;
  text-decoration: none
}

.add-consumption h2 {
  font-size: 16px;
  margin: 0;
  padding-left: 8px;
  font-weight: bold;
}

.btn-add-consumption {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 3px solid;
  border-color: #184D47;
  border-radius: 16px;
  // align-self: center;
  margin: 5px 0px;
}

.btn-add-consumption img {
  height: 30px;
}

.filler-space-consumption {
  height: 50px;
  background-color: white;
}
