.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #184D47;
  border: none;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: #556B2F ;
  color: white;
}
