.carousel-inner .carousel-item img {
  max-height: 500px;
}

@media (max-width: 450px) {
  .carousel-inner .carousel-item img {
    max-height: 700px;
  }

  .carousel-caption h1 {
    font-size: 28px;
    margin-bottom: 25%;
  }
}
