.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-div {
  background-color: white;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 8px;
}

.carousel-caption {
  width: 400px;
  margin: auto;
  margin-bottom: 140px;
}

.carousel-caption h1 {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 1;
}

#btn-override .btn {
  border-radius: 8px;
  color: white;
  font-size: 18px;
}

#btn-override .btn-success {
  background: #184D47;
  border: #184D47;
}

#btn-override .btn:hover {
  background: rgba(0,0,0,0.7);
  color: white;
}

#btn-override .btn-warning {
  background: #fb7813;
  border: #fb7813;
}
