.full-screen-carousel {
  //height: calc(100vh - 60px);
}

.carousel-inner {
  width: 1800px;
}

.text-div {
  background-color: white;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 8px;
}

.carousel-caption {
  width: 400px;
  margin: auto;
  margin-bottom: 90px;
}

.carousel-caption h1 {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 1;
}

#btn-override .btn {
  border-radius: 8px;
  color: white;
}

#btn-override .btn-success {
  background: #184D47;
  border: #184D47;
}

#btn-override .btn:hover {
  background: black;
  color: white;
}

#btn-override .btn-warning {
  background: #fb7813;
  border: #fb7813;
}
