.carousel-inner {
  width: 1800px;
}

.carousel-inner img {
  max-height: 1100px;
  max-width: 1600px;
  border-radius: 5px;
  margin: auto;
  filter: brightness(90%);
  opacity: 0.8;

}

.text-div {
  background-color: white;
  opacity: 0.7;
  width: 400px;
  height: 500px;
  margin: auto;
  border-radius: 8px;
}

.carousel-caption {
  margin-bottom: 90px;
}

.carousel-caption h1 {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 1;
  //margin-bottom: 20%;
}

@media (max-width: 1024px) {
  .carousel-caption {
    margin-bottom: 70px;
  }

  .carousel-inner img {
    max-width: 1024px;
    height: 750px;
  }

  .carousel-caption h1 {
    font-size: 28px;
  }

  .text-div {
    width: 250px;
    height: 250px;
  }
}

