// _categories.scss

.categories {
  // padding: 0px 10%;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
  box-shadow: 0 4px 2px -2px rgba(24,77,71,0.6);
  max-width:80%;
  margin: auto;
}

.categories a {
  display: flex;
  justify-content: center;
}

.category {
  text-align: center;
  // width: 150px;
}

.category img{
  // justify-self: center;
  width: 150px;
  height: 75px;
  border-radius: 40px;
  // box-shadow: 4px 0px 3px rgba(0,0,0,0.4);
  box-shadow: inset 100px 4px 1px rgba(0, 0, 0, 0.5);
  border: rgba(24, 77, 71, 0.5) 1px solid;
  opacity: 1 !important;
}

.category h2 {
  width: 100%;
  position: absolute;
  // right: 75px;
  top: 30px;
  color: white; // #184D47;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  text-shadow: 2px 0px 1px rgba(0,0,0,1);
}

#carousel-item-override {
  min-height: auto;
  height:auto;
}

@media(max-width: 992px) {
  .categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:400px) {
  .categories {
    grid-gap: 8px 4px;
    padding: 10px 10px;
    max-width:100%;
  }

  .categories a {
    width: 150px;
  }

  // .category {
  //   // justify-self: center;
  //   width: 65px;
  //   height: 65px;
  // }
}

@media(max-width:325px) {
  .categories {
    grid-gap: 12px;
    grid-template-columns: 1fr;

  }

  .category {
    // justify-self: center;
    width: 65px;
    height: 65px;
  }

}

// @media(max-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-grow-s {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow-s:hover,
.hvr-grow-s:focus,
.hvr-grow-s:active {
    transform: scale(1.06);
}
