// _checkbox.scss

// .nice-checkbox {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   /* -o-appearance: none; - Not required since the new version of Opera uses -
//      webkit prefix for this property, but we've added it nevertheless just to be aware
//      of it
//    */
//   appearance: none;
// }

.nice-checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}


.nice-checkbox > input {
  border-radius: 50% !important;
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #41B883; // #34495E;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white; // #41B883;
  cursor: pointer;
}

.nice-checkbox > input:checked {
  border-radius: 50% !important;
  border: 5px solid #184D47;
  background-color: #71CC34;
}

.nice-checkbox > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #41B883;
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
}

.nice-checkbox > input:active {
    border: 2px solid #34495E;
}

.nice-checkbox > input .mat-checkbox-frame,
.nice-checkbox > input .mat-checkbox-background {
    border-radius: 50% !important;
}

// #71CC34
// #184D47;

