// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "categories";
@import "item_cards";
@import "carousel_home";
@import "item_modal";
@import "button";
@import "daily_target_show";
@import "cart_modal";
@import "dropdown";
@import "item_order";
@import "checkbox";

// from yarn
// @import '~pretty-checkbox/src/pretty-checkbox.scss';

