.order-header {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 28px;
}

.order-regard h2 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 28px;
  text-align: center;
}

.order-item-name h3 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 18px;
}

.order-item-quantity h3 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #71CC34;
  font-size: 18px;
}

.order-item-price h3 {
  margin: 0;
  font-weight: light;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 18px;
}
