// _item_cards.scss

.item-card {
  overflow: hidden;
  height: 127px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  width: 375;
  justify-content: space-between;
  background-color: rgba(232,244,225,0.75); //#E8F4E1;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.item-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  flex-shrink: 0;
}

.item-card h2 {
  // padding-left: 16px;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  // font-weight: 600;
}

.item-card-price {

}

.item-card-nutrition {

}

.item-card .card-title {
  color: #184D47;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.item-card .card-seller {
  font-weight: 100;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.item-card-description {
  // margin-bottom: 4px;
  overflow: hidden;
  margin-top: 4px;
  height: 42px;
}

.item-card p {
  // padding-left: 16px;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
}

.item-cards a {
  color: $gray;
  text-decoration: none;
}

.item-card .item-card-infos {
  display: flex;
  // flex-grow: 5;
  padding: 16px;
  // padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  // width: 243;
  // flex-basis: auto;
}

.item-cards {
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


@media(max-width: 992px) {
  .item-cards {
    grid-template-columns: 1fr;
  }
}
