.order-header h2 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 24px;
  padding: 15px;
}

.order-regard h2 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}

.order-item-name h3 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 18px;
  padding: 15px;
}

.order-item-quantity h3 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 18px;
  padding: 15px;
}

.order-item-price h3 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 20px;
  padding: 15px;
}
