.navbar-tudieta {
  justify-content: space-between;
  background: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.navbar-tudieta .navbar-collapse {
  flex-grow: 0;
}

.navbar-tudieta .navbar-targets {
  flex-grow: 4;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.navbar-tudieta .navbar-targets p {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 3px solid;
  border-color: #184D47;
  border-radius: 16px;
  align-self: center;
  margin: 0px;
  color: #184D47;
}


.navbar-tudieta .navbar-brand img {
  width: 45px;
  margin: 0;
}

.navbar-tudieta .navbar-carrito i {
  width: 25px;
  margin-right: 15px;
  font-size: 25px;
  color: #184D47;
}

// .navbar-tudieta .navbar-registrar img {
//   flex-grow: 4;
//   width: 40px;
// }

@media(max-width:450px) {
  .navbar-tudieta {
    padding: 2px;
  }

  .navbar-targets {
    flex-grow: 0;
    // border-radius: 16px;
  }

  .navbar-targets p {
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
  }

  // .navbar-tudieta .navbar-registrar img {
  //   width: 30px;
  // }

  .navbar-tudieta .navbar-brand img {
    margin-left: 10px;
    width: 35px;
  }

  .navbar-tudieta .navbar-carrito i {
    // width: 25px;
    margin-right: 0px;
    font-size: 18px;
    color: #184D47;
  }

  .navbar-tudieta .navbar-toggler-icon {
    height: 25px;
    width: 15px;
    border: 0;
    padding: 0px;
  }

}


@media(max-width: 350px) {
  .navbar-tudieta {
    padding: 2px;
  }

  .navbar-targets {
    flex-grow: 0;
  }

  .navbar-targets p {
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
  }

  // .navbar-tudieta .navbar-registrar img {
  //   width: 25px;
  // }

  .navbar-tudieta .navbar-brand img {
    margin-left: 10px;
    width: 30px;
  }

  .navbar-tudieta .navbar-carrito i {
    // width: 25px;
    margin-right: 0px;
    font-size: 16px;
    color: #184D47;
  }

}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
