.navbar-tudieta {
  justify-content: space-between;
  background: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.navbar-tudieta .navbar-collapse {
  flex-grow: 0;
}

.navbar-tudieta .navbar-objetivos {
  flex-grow: 4;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.navbar-tudieta .navbar-objetivos p {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 3px solid;
  border-color: #184D47;
  border-radius: 16px;
  align-self: center;
  margin: 0px;
}

.navbar-tudieta .navbar-brand img {
  width: 40px;
}

.navbar-tudieta .navbar-carrito img {
  width: 50px;
  margin-right: 10px;
}

.navbar-tudieta .navbar-registrar img {
  flex-grow: 4;
  width: 40px;
}





// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
