.navbar-tudieta {
  justify-content: space-between;
  background: white;

}

.navbar-tudieta .navbar-collapse {
  flex-grow: 0;
}

.navbar-tudieta .navbar-objetivos {
 flex-grow: 4;
 display: flex;
 justify-content: center;
 align-content: center;
}

.navbar-tudieta .navbar-brand img {
  width: 40px;
}

.navbar-tudieta .navbar-carrito img {
  width: 50px;
}

.navbar-tudieta .navbar-registrar img {
  flex-grow: 4;
  width: 40px;
}

.navbar-tudieta .navbar-obejetivos p {
  border: 4px;
  border-color: #184D47;
}



// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
