.order-modal-header h2 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 24px;
  padding: 15px;
}

.order-modal-item h3 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #184D47;
  font-size: 20px;
  padding: 15px;
}

.order-modal-price h3 {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 20px;
  padding: 15px;
}
